<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>成绩单页面</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="content">
      <h1>欢迎来到成绩单页面</h1>
      <p>在这里选择成绩单：</p>
      <button onclick="FileUpload()">导入</button>
      <input type="file" id="fileInput">
      <p>在这里输入要发送的邮箱：</p>
      <input type="text" id="email-input" placeholder="请输入邮箱" />
      <button onclick="sendEmail()">发送</button>
      </div>
    </div>
    <script src="script.js"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
  </body>
</html>
